<html>
<head>
    <title>Register</title>
</head>

<body>
    <h1>Customer Registration</h1>
    {% if show_login_popup %}
        <div>
            <p>Email is already in use. Do you want to <a href="/customerlogin">login</a>?</p>
        </div>
    {% endif %}
    <form method="post" action="/customerregistration">
    Email: <input type="email" name="email" required><br>
    First Name: <input type="text" name="first_name" required><br>
    Last Name: <input type="text" name="last_name" required><br>
    Password: <input type="password" name="password" required><br>
    Passport Number: <input type="number" name="pass_num" min="0" max="999999999" required><br>
    Passport Expiration Date: <input type="date" name="pass_exp" required><br>
    Passport Country: <input type="text" name="pass_country" required><br>
    Date of Birth: <input type="date" name="dob" required><br>
    Building Number: <input type="number" name="building_num" min="0" required><br>
    Street: <input type="text" name="street" required><br>
    Apartment Number: <input type="number" name="apt_num" min="0" required><br>
    City: <input type="text" name="city" required><br>
    State: <input type="text" name="state" required><br>
    Zipcode: <input type="number" name="zipcode" min="0" max="99999" required><br>
    <input type="submit" value="Register" >
    </form>

</body>

</html>