<!DOCTYPE html>
<html>
<head>
  <title>Customer Flights</title>
</head>

<div class="nav-bar">
  <a href="/customerhome">Home</a>
  <a href="/customerflights">My Flights</a>
  <a href="/searchflights">Search Flights</a>
  <a href="/purchaseflights">Purchase Flights</a>
  <a href="/logout">Logout</a>
</div>

<body>
  <h1>My Flights</h1>
  <table border="1">
    <tr>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Arrival Date</th>
      <th>Arrival Time</th>
      <th>Flight Status</th>
    </tr>
    {% for row in flights %}
    <tr>
      {% for item in row %}
      <td>{{ item }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  
</body>
</html>