<form method="post" action="/login">
    Email: <input type="email" name="email"><br>
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Password: <input type="password" name="password"><br>
    Passport Number: <input type="number" name="pass_num" min="0" max="999999999"><br>
    Passport Expiration Date: <input type="date" name="pass_exp"><br>
    Passport Country: <input type="text" name="pass_country"><br>
    Date of Birth: <input type="date" name="dob"><br>
    Building Number: <input type="number" name="building_num" min="0"><br>
    Street: <input type="text" name="street"><br>
    Apartment Number: <input type="number" name="apt_num" min="0"><br>
    City: <input type="text" name="city"><br>
    State: <input type="text" name="state"><br>
    Zipcode: <input type="number" name="zipcode" min="0" max="99999"><br>
    <input type="submit" value="Login">
</form>