<!DOCTYPE html>
<html>
<head>
    <title>Search Flights</title>
</head>
<body>
    <h1>Search for Flights</h1>
    <form method="post" action="/searchflights">
        Departure Airport: <input type="text" name="departure_airport"><br>
        Arrival Airport: <input type="text" name="arrival_airport"><br>
        Departure Date: <input type="date" name="departure_date"><br>
        <input type="submit" value="Search">
    </form>

    {% if flights %}
        <h2>Search Results</h2>
        <table border="1">
            <tr>
                <th>Flight Number</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th>Flight Status</th>
                <th>Purchase a Ticket</th>
            </tr>
            {% for row in flights %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
                <td><a href="/purchasetickets", flight_id = row[0]>Purchase Ticket</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
