<html>
<head>
    <title>Login</title>
</head>

<body>
    <h1>Airline Staff Login</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if show_register_popup %}
        <div>
            <p>Username not found. Do you want to <a href="/register">register</a>?</p>
        </div>
    {% endif %}
    <form method="post" action="/stafflogin">
        Username: <input type="username" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>

</body>

</html>